body {

background-color: burlywood;
color: black;
font-family: Arial, Helvetica, sans-serif;
width:1200px;

margin-left: 20px;

}
header {
background-color: burlywood;





}
h1 {
text-align: center;
background-color: burlywood;
width : 780px;

margin-left: 100px;
padding-left: 40px;
}
.logo {

float: right;
font-size: small;
display: inline-block;
margin: 0 1.5%;
width: 30%;
vertical-align: top;
padding:3px;
}

.container {

clear: both;
overflow: auto;
background-color: burlywood;
margin-left: 20px;
}

#main-bio {

  float: left;  
  font-size: 40px;
  background-color: burlywood;



}

#bio-image {
background-color: burlywood;
float: left;
height: 200px;
width: 200px;
margin-right: 20px;
margin-bottom: 40px;

}
#description{

float:left;
background-color: burlywood;
width: 500px;
margin-left: 40px;
padding-left: 40px;

}


#message {

clear: both;
overflow: auto;
width: 500px;
margin-left: 40px;
padding-left: 40px;


}

#hangman {

  height: 200px;
  width: 30%;
  float: left;
  margin: 0 1.5%;
  padding: 2px;


}

aside {

 clear: both;
 overflow: auto;
  float: right;
  margin: 0 1.5%;
  padding: 2px;
  display: inline;
width: 35%;



}

#trivia-game {

 
  float: left;
  margin: 0 1.5%;
  padding: 20px;
  display: inline;


}
  #rutgers {

    
    float: right;
    margin: 0 1.5%;
    padding: 20px;
    display: inline;


  }

#rock {

  clear: both;
  overflow: auto;
  
  float: left;
  margin: 0 1.5%;
  padding: 20px;


}

@media screen and (max-width: 930px) {
body {
width: 930px

}





}
@media screen and (max-width: 768px) {

body {
width: 768px


}




}

@media screen and (max-width: 600px) {
body {
width : 600px

}





}